################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonalJournal/.vs/PersonalJournal/v15
/PersonalJournal/App1
/PersonalJournal/WpfApp1
